<main class="base-container">
    <h2 class="page-title">
        Conteúdo
    </h2>

    <section>
        <div>
            <label>
                <strong>Aulas (650)</strong>
                <button>+</button>
            </label>
            <input placeholder="Pesquisar">
            <ul>
                <li>
                    <aside>
                        <strong> Ao Vivo</strong>
                        <small> Criada em 13/11/2023 </small>
                    </aside>
                    <i class="pi pi-ellipsis-h"></i>
                </li>
                <li>
                    <aside>
                        <strong> Ao Vivo</strong>
                        <small> Criada em 13/11/2023 </small>
                    </aside>
                    <i class="pi pi-ellipsis-h"></i>
                </li>
                <li>
                    <aside>
                        <strong> Ao Vivo</strong>
                        <small> Criada em 13/11/2023 </small>
                    </aside>
                    <i class="pi pi-ellipsis-h"></i>
                </li>
                <li>
                    <aside>
                        <strong> Ao Vivo</strong>
                        <small> Criada em 13/11/2023 </small>
                    </aside>
                    <i class="pi pi-ellipsis-h"></i>
                </li>
            </ul>
        </div>

    </section>
</main>
