main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    section {
        display: flex;
        justify-content: space-around;
        height: calc(100% - 12px);

        div {
            background: #e6e6e6;
            border-radius: 8px;
            width: 30%;
            padding: 10px;
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 0fr 1fr;
            gap: 20px 0px;
            grid-template-areas:
                "."
                "."
                ".";

            label {
                display: flex;
                align-items: center;
                gap: 8px;

                strong {
                    background: rgba(242, 153, 74, 0.39);
                    width: 100%;
                    border-radius: 8px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                }

                button {
                    background-color: #0ebaa1;
                    color: white;
                    border: 0;
                    width: 18px;
                    height: 24px;
                    border-radius: 94px;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                display: flex;
                justify-content: space-between;
                padding: 8px;

                height: 60px;
                background: white;
                border-radius: 8px;

                aside {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    strong {
                        color: var(--primary);
                    }

                    small {
                    }
                }

                i {
                }
            }
        }
    }
}
