<main class="base-container">
    <h2 class="page-title">
        Suporte
    </h2>
    <section>
        <h1>Que tipo de suporte você precisa hoje?</h1>

        <ul>
            <li>
                <h2>
                    Orientações
                </h2>
                <label>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                    <i class="pi pi-angle-right"></i>
                </label>

                <hr>
            </li>
            <li>
                <h2>
                    Problemas técnicos
                </h2>
                <label>
                    <p>Problemas na utilização da plataforma</p>
                    <i class="pi pi-angle-right"></i>
                </label>

                <hr>
            </li>
            <li>
                <h2>
                    Tour virtual
                </h2>
                <label>
                    <p>
                        Em breve...
                        <i class="pi pi-spin pi-cog" style="font-size: 15px;"></i>
                    </p>

                    <i class="pi pi-angle-right"></i>
                </label>

                <hr>
            </li>
        </ul>
    </section>
</main>
