section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;

    > div {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

hr {
    margin: 0px 10%;
    height: 1px;
    color: rgba(0, 0, 0, 0.36);
    background: rgba(0, 0, 0, 0.36);
    font-size: 0;
    border: 0;
}
