main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;

    i {
        color: var(--primary);
    }
    h1 {
        font-size: 22px;
    }

    h2:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
