<section>
    @if (!isAdministrativeView) {
        <div class="switch-button">
            <span [ngClass]="{ 'active': !typeUserValue }">
                <i class="pi pi-graduation-cap"></i>
                Aluno
            </span>

            <app-switch
                (onClick)="toggleTypeUser($event)"
            ></app-switch>

            <span [ngClass]="{ 'active': typeUserValue }">
                Professor
                <i class="pi pi-book"></i>
            </span>
        </div>
    } @else {
        &nbsp;
    }

    <div>
        <app-button [label]="'Salvar'" [icon]="'save'"></app-button>
        <app-button [label]="'Fechar'" [icon]="'times'" [color]="'secondary'"></app-button>
    </div>
</section>

<hr>

<!--future form!!!-->
<div class="form">
    <app-input-text placeholder="Nome"></app-input-text>
    <app-input-text placeholder="Telefone"></app-input-text>
    <app-input-text placeholder="CPF"></app-input-text>
    <app-input-text placeholder="RG"></app-input-text>
    <app-input-text placeholder="Email"></app-input-text>
    <app-input-text placeholder="Senha"></app-input-text>
    &nbsp;
    @if (isAdministrativeView) {
        <p>.--.</p>
        <app-input-text placeholder="Tipo de usuário"></app-input-text>
    }
</div>
