<main class="base-container">
    <h2 class="page-title">
        Editar perfil

        <small> Henrique Nunes </small>
    </h2>

    <section>
        <div class="user-info">
            <div class="change-profile-picture">
                <div class="img"></div>
                <span> Alterar foto do perfil</span>
            </div>

            <div class="change-name-actions">
                <span>
                    Henrique Nunes
                    <small> Editar nome </small>
                </span>

                <div class="actions">
                    <app-button [label]="'Salvar'" [icon]="'save'"></app-button>
                    <app-button [label]="'Fechar'" [icon]="'times'" [color]="'secondary'"></app-button>
                </div>
            </div>
        </div>

        <div class="form">
            <app-input-text placeholder="Email"></app-input-text>
            <app-input-text placeholder="Senha" [password]="true"></app-input-text>
            &nbsp;
            <app-input-text placeholder="CPF" [disabled]="true"></app-input-text>
            <app-input-text placeholder="RG" [disabled]="true"></app-input-text>
            <app-input-text placeholder="Telefone"></app-input-text>
        </div>

        <hr />

        <div class="user-preferences">
            <strong> Preferências </strong>
            <div class="theme-language">
                <div class="theme">
                    <small> Visualização </small>
                    <div class="switch-button">
                        <i class="pi pi-sun" [ngClass]="{ 'active-light': !themeValue }"></i>

                        <app-switch
                            [theme]="true"
                            [model]="themeValue"
                            (onClick)="toggleTheme($event)"
                        ></app-switch>

                        <i class="pi pi-moon" [ngClass]="{ 'active-dark': themeValue }" style="font-size: 30px"></i>
                    </div>
                </div>
                <div class="language">
                    <small> Idioma </small>

                </div>
            </div>
        </div>
    </section>
</main>
