:root {
    transition: ease-out 0.3s;

    --primary: #f2653a;
    --secondary: #24fedc;

    --white: white;

    --vd-gray: #383838;

    --gray-700: #656565;
    --bg-dark: #202020;
    --bg-light: white;

    --gray-400: oklch(70.9% 0.015 304.04);
}
