:root {
    transition: ease-out 0.3s;

    --primary: #f2653a;
    --primary_36: rgba(242, 153, 74, 0.34);
    --secondary: #24fedc;
    --secondary_36: rgb(36 254 220 / 36%);


    --white: white;
    --white_bg: #f9f9f9;

    --vd-gray: #383838;

    --gray-700: #656565;

    --bg-dark: #202020;
    --bg-light: white;

    --gray-400: oklch(70.9% 0.015 304.04);
}
