<main [ngClass]="{'toggle': toggleNavigation}">
    <aside class="toogle">
        <i
            class="pi"
            [ngClass]="{'pi-arrow-right': toggleNavigation, 'pi-arrow-left': !toggleNavigation}"
            (click)="handleNavigation()"
        ></i>
    </aside>

    <header>
        <aside>
            <img (click)="handleNavigate('home')">
            <strong (click)="handleNavigate('profile')">Editar</strong>
        </aside>

        <aside>
            <strong>
                Henrique Nunes
            </strong>
            <small>
                nunesdealmeidahenrique.com
            </small>
        </aside>
    </header>

    <section id="navigation">
        <ul class="item">
            @for (item of navigationItems; track $index) {
                <li
                    class="item"
                    [ngClass]="{
                        'has-subItem': show && item?.subItem,
                        'no-item': show && !item?.subItem,
                        'active': actualItem === item.path
                    }"
                    (click)="handleNavigate(item.path)"
                >
                    <div class="icon">
                        <i class="pi {{ item.icon }}"></i>
                    </div>

                    <strong >
                        {{ item.title }}

                        @if (item?.subItem) {
                            <span (click)="show = !show">
                                @if (show) {
                                    <i class="pi pi-angle-up"></i>
                                } @else {
                                    <i class="pi pi-angle-down"></i>
                                }
                            </span>
                        }

                    </strong>
                </li>

                @if (show && item?.subItem) {
                    <ul class="subItem">
                        @for (subItem of item.subItem; track $index) {
                            <li class="subItem">
                               <b>{{ subItem.title }}</b>

                                <div>
                                    @for (subTitleItem of subItem.subTitle; track $index) {
                                        <span> {{ subTitleItem.title }}</span>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                }
            }
        </ul>
    </section>

    <footer>
        <strong>
            Sair
            <i class="pi pi-sign-out"></i>
        </strong>
    </footer>
</main>
